/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===============------------- THIS IS VARIABLES CSS ------------===============*/
:root {
  --header-height: 3rem;

  /*==========--------------- COLORS FOR THE DESIGN -----------==========*/
  /*COLOR FOR THE PROJECT WILL BE HSL(hue, saturation, lightness)*/
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #fff;
  --container-color: #fff;

  /*==========---------------- THE FONT SECTION ---------------==========*/
  /*.5rem REPRESENTS  8px | 1rem REPRESENTS 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*==========---------- Font weight -----------------==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*==========---------- z index --------------==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* The Responsive type */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE SECTION ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* this  is For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/

body.dark-theme{
  --first-color: hsl(228, 66%, 62%);
  --second-color: hsl(25, 83%, 54%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 70%);
  --border-color: hsl(228, 14%, 16%);
  --body-color: hsl(228, 12%, 8%);
  --container-color: hsl(228, 16%, 12%);
}
/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--second-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}

/*=============== HEADER & NAV ===============*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: #fff; 
  display: inline-flex;
  align-items: center;
  column-gap: .27rem;
  font-weight: var(--font-medium);
  transition: .4s;
}

.nav__logo i{
  font-size: 1rem;
}

.nav__logo:hover{
  color: var(--first-color);
}


@media screen and (max-width: 1023px){
  .nav__menu{
    position: fixed;
    bottom: 2.5rem;background-color: var(--container-color);
    box-shadow: 0 8px 25px hsla(228, 69%, 25%, 0.2);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.25rem 3rem;
    border-radius: 1.30rem;
    transition: .3.5s;
  }
  .nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  .nav__link{
    color: var(--text-color);
    padding: .7rem;
    border-radius: 50%;

  }
  .nav__link i{
    font-size: 1.40rem;
  }

  .nav__link span{
    display: none;
  }
}
/* Change background header */
.scroll-header{
  background-color: var(--body-color);
  box-shadow: 8 1px 4px hsl(228, 15%, 50%);
}

.scroll-header .nav__logo{
  color: var(--first-color);
}

.scroll-header .change-theme{
  color: var(--first-color);
}

/* Active link */


/*=============== HOME ===============*/

.home{
  background: rgb(17, 17, 17);
  padding-bottom: 0;
}

.home__container{
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__title, .home__value-number{
  color: #fff;
}

.home__title{
  font-size: var(--biggest-font-size);
  line-height: 120%;
  margin-bottom: 1.5rem;
}

.home__description{
  color: var(--text-color-light);
  margin-bottom: 2rem;
}

.home__value{
  display: flex;
  column-gap: 2.5rem;
}

.home__value-number{
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
}
.home__value-number span{
  color: var(--second-color);

}

.home__value-description{
  display: flex;
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.home__images{
  position: relative;
  display: flex;
  justify-content: center;

}

/* .home__orbe{
  width: 100%;
  height: 500px;
  background: linear-gradient(180deg, rgb(253, 253, 253) 93%, rgb(255, 255, 255) 100%);
  border-radius: 12px 12px 12px 12px;
} */

.home__img{
  position: absolute;
  width: 100%px;
  height: 100%;
  overflow: hidden;
  border-radius: 12px 12px 12px 12px;
  display: inline-flex;
  align-items: flex-end;
  
  bottom: -2rem;
  box-shadow: 0 16px 32 hsla(228, 69%, 25%, 0.2);
}
/*=============== BUTTON ===============*/
 
.nav__button:hover{
  display: inline-block;
  color: #fff;
  background: linear-gradient(101deg,
               hsl(228, 66%, 53%),
               hsl(228, 66%, 47%));
padding: 14px 28px;
border-radius: .5rem;
font-size: var(--normal-font-size);
font-weight: var(--font-medium);
box-shadow: 0 4px 8px hsla(228, 69%, 25%, 0.2);
transition: .3s;
cursor: pointer;
}

.nav__button:hover{
  box-shadow: 8 4px 12px hsla(228, 66%, 45%, .2s);
}

.nav__button{
  display: none;
}
/*=============== LOGOS ===============*/

.logos__container{
  padding-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 2rem;
  justify-items: center;
}

.logos__img img{
  height: 60px;
  opacity: 2;
  transition: .3s;
}

.logos__img img:hover{
  opacity: 6;
}




#home {
  background-image: linear-gradient(rgb(9, 5, 54, 0.3), rgb(5, 5, 46, 0.7)),
    url(assets/images/Untitled-1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#img_home{
  height: 100%;
  width: 100vh;
}

#home h2 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#home p {
  width: 50%;
  color: #fff;
  font-size: 0.9rem;
  line-height: 25px;
}

#home .btn {
  margin-top: 35px;
}
#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 10px;
}

#home a.left-btn {
  color: #fff;
  background: rgb(25, 25, 68);
  transition: 0.4s ease;
}

#home a.left-btn:hover {
  color: rgb(21, 21, 100);
  background: #fff;
}

#home a.right-btn {
  color: #fff;
  background: rgb(16, 216, 223);
  transition: 0.4s ease;
}

#home a.right-btn:hover {
  color: rgb(16, 216, 223);
  background: #fff;
}

/* this the fearures part of the styling */

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}

#features .fea-first {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
}

#features .fea-box {
  background: rgb(221, 226, 235);
  text-align: start;
  margin-top: 60px;
  padding: 30px;
  border-radius: 20px;
}

#features .fea-box i {
  font-size: 2.5rem;
  color: 44, 44, 80;
}

#features .fea-box h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(46, 46, 59);
  padding: 13px 0 7px 0;
}

#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}




#registration {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(
      rgba(99, 112, 166, 0.5),
      rgba(81, 91, 233, 0.5)
    ),url("/assets/images/child\ pics2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#registration .photoside {
  color: #fff;
}

#registration .photoside h1 {
  color: #fff;
}

#registration .photoside .time {
  display: flex;
  margin-top: 40px;
}

#registration .photoside .time .date {
  text-align: center;
  padding: 14px 30px;
  background-color: rgba(21, 21, 100);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 35px 0 rgba(32, 39, 235 0.4);
  border-radius: 50%;
  margin: 0 5px 10px 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

#registration .formside {
  background: #fff;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 40px 0px;
  box-shadow: 0 8px 35px 0 rgba(32, 39, 235 0.4);
} 

/* #min-child_registration{
  padding: 6vw 5vw 6vw 8vw;
  background-image: linear-gradient(
      rgba(99, 112, 166, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url(/assets/images/child\ pics2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
} */


#min-child_registration{
  background: #fff;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 40px 0px;
  box-shadow: 0 8px 35px 0 rgba(32, 39, 235 0.4);
}

#min-child_registration .formside a.left-btn {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 5px 15px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 10px;
  color: #fff;
  background: rgb(25, 25, 68);
  transition: 0.4s ease;
  
} 

#min-child_registration .formside a.left-btn:hover {
  color: rgb(21, 21, 100);
  background: #d4ae05;
}


/* Children section of the code */

#child h1{
  padding: 0vw 8vw ;
  text-align: center;
  
}

#child h2{
  padding: 0vw 8vw ;
  text-align: center;
  
}

/*=============== POPULAR ===============*/

.popular__container{
  padding: 1rem 0 5rem;
}

.popular__card{
  width: 290px;
  background-color: var(--container-color);
  padding: .5rem .5rem 1.5rem;
  border-radius: 1rem;
  margin: 0 auto;
  transition: .4s;
  /* align-items: center; */
}

.popular__img{
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.popular__data{
  padding: 0 1rem 0 .5rem;
}

.popular__price{
  font-size: var(--h2-font-size);
  color: var(--text-color);
  margin-bottom: .25rem;
}

.popular__price span{
  color: var(--second-color);
}

.popular__title{
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.popular__description{
  font-size: var(--small-font-size);
}
.popular__card:hover{
  box-shadow: 0 12px 16px hsl(228, 66%, 45% .1);
}




/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  /* top:initial;
  bottom: 0;
  width: initial;
  height: initial;
  background-color: rgb(17, 17, 17);
  border: 2px solid var(--text-color-light);
  padding: 6px;
  border-radius: .5rem;
  font-size: 1.5rem;
  color: var(--first-color);
   */

  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  /* right: calc(50% - 3rem); */
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Swiper class */

/* .swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}

.swiper-button-next,
.swiper-button-prev{
  top:initial;
  bottom: 0;
  width: initial;
  height: initial;
  background-color: var(--container-color);
  border: 2px solid var(--text-color-light);
  padding: 6px;
  border-radius: .5rem;
  font-size: 1.5rem;
  color: var(--first-color);

}

.swiper-button-prev{
  left: calc(50% - 3rem);
}

.swiper-button-next{
  right: calc(50% - 3rem)*/




/* our courses section */


#course {
  padding: 8vw 8vw 0 8vw ;
  text-align: center;

  
}

#course .courses{
  text-align: start;
  background-color: rgb(203, 199, 241);
  height: 100%;
  border-radius: 10px;
  position: relative;
  padding: 30px;
}

#course .course-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 80px;
}

#course .courses img{
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#course .courses .descriptions{
  padding: 10px 10px 0 10px;
}

#course .courses .price-tag{
  background-color: #101c32;
  color: #fff;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 80%;
  bottom: 130px;

}

/* Children section of the code */

#child h1{
  padding: 0vw 8vw ;
  text-align: center;
  
}

#child h2{
  padding: 0vw 8vw ;
  text-align: center;
  
}
/*=============== VALUE ===============*/

/* .value__container{
  row-gap: 3rem;
} */

.value__images{
  position: relative;
  display: grid;
  justify-content: center;
}

/* .value__orbe{
  width: 266px;
  height: 316;
  background-color: hsl(228, 100%, 97%);
  border-radius: 10px 10px 16px 16px;
} */
/* .value__img{
   position: absolute;
  width: 500px;
  height: 500px;
   overflow: hidden;
  border-radius: 10px 10px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px hsla(228,66%, 25%, .25);


}*/

.value__description{
  font-size: var(--small-font-size);
  margin-bottom: 3rem;
}

.value__accordion{
  display: grid;
  row-gap: 1.5rem;
}

.value__accordion-item{
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
  border-radius: .5rem;
  padding: 1rem .75rem;

}

.value__accordion-header{
  display: flex;
  align-items: center;
  cursor:pointer
}

.value__accordion-icon{
  background-color: var(--first-color-lighten);
  padding: 5px;
  border-radius: 25rem;
  font-size: 18px;
  color: var(--first-color);
  margin-right: 75rem;
  transition: .3s;
}

.value__accordion-title{
  font-size: var(--small-font-size);

}

.value__accordion-arrow{
  display: inline-flex;
  background-color: var(--first-color-lighten);
  padding: .25rem;
  color: var(--first-color);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: .3s;
}

.value__accordion-arrow i{
  transition: .4s;
}

.value__accordion-description{
  font-size: var(--small-font-size);
  padding: 1.25rem 2.5rem 0 2.75rem;

}

.value__accordion-content{
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
}
/*Rotate icon and add shadows*/

.accordion-open{
  box-shadow: 0 2px 4px hsl(228, 66%, 45%, .1);
}

.accordion-open value__accordion-icon{
  box-shadow: 0 2px 4px hsl(228, 66%, 45%, .1);
}

.accordion-open .value__accordion-arrow{
  box-shadow: 0 2px 4px hsl(228, 66%, 45%, .1);
}
.accordion-open .value__accordion-arrow i{
  transform: rotate(-180deg)
}

/* this is our community expert */

/* expert tutors section */

#team{
  padding: 8vw 5vw ;
  text-align: center;
}

#team img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

#team .expert-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  margin-top: 50px;
}

#team .expert-box .profile{
  background: #ffffff;
  padding: 35px 15px;
}

.profile-social-icon{
  margin: 10px;
}

.profile-social-icon i{
  padding: 10px 13px;
  border: 1px solid rgb(24, 24, 49);
  cursor: pointer;
  transition: 0.4s ease;
}

.profile-social-icon i:hover{
  background: rgb(21, 21, 77);
  content: #fff;
  cursor: pointer; 
  transition: 0.4s ease;
}

/*=============== CONTACT ===============*/

.contact__container{
  row-gap: 2rem;
  
}

.contact__images{
  position: relative;
  display: flex;
  justify-content: center;
}

.contact__orbe{
  width: 266px;
  height: 316px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px 10px;
}

.contact__img{
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px 10px;
  inset: 0;
  margin: auto;
  box-shadow: 8 16px 32px hsl(228, 66%, 47%);
}

.contact__description{
  font-size: var(--small-font-size);
  margin-bottom: 2.5rem;

}

.contact__card{
  display: flex;
  flex-direction: column;
  gap: 1.25em .25rem;
}

#contact__card-button{
    display: inline-block;
    color: #fff;
    background: linear-gradient(101deg,
                 hsl(228, 57%, 45%),
                 hsl(228, 69%, 53%));
  padding: 14px 28px;
  border-radius: .5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  box-shadow: 0 4px 8px hsla(228, 69%, 25%, 0.2);
  transition: .3s;
  cursor: pointer;
  
  
  
}

.contact__card-box{
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
  padding: 2rem 1rem;
  border-radius: 5rem;
  transition: .3s;
}

.contact__card-info{
  display: flex;
  align-items: flex-start;
  column-gap: .75rem;
  margin-bottom: 1.25rem;
}

.contact__card-info i{
  padding: 6px;
  background-color: var(--first-color-lighten);
  border-radius: 6px;
  font-size: 1.25rem;
  color:var(--first-color)
}

.contact__card-title{
  font-size: var(--normal-font-size);

}

.contact__card-description{
  font-size: var(--small-font-size);
}

#contact__card-button{
  font-size: var(--small-font-size);
  padding: 14px;
  width: 100%;
  border-radius: .25rem;
  background: var(--first-color-lighten);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  box-shadow: none;
}

#contact__card-button:hover{
background-color: var(--first-color);
color: #fff;
}

.contact__card-box:hover{
  box-shadow: 0 8px 24px hsla(228, 69%, 25%, 0.2);
}




/*=============== SUBSCRIBE ===============*/

.subscribe__container{
  background-color: rgb(11, 42, 99);
  padding: 3rem 2rem;
  border-radius: 1rem;
  border: 6px solid var(--first-color-light);
  text-align: center;
}

.subscribe__title{
  font-size: var(--h2-font-size);
  color: #fff;
  margin-bottom: 1rem;
}

.subscribe__description{
  color: #f2f2f2;
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}


.subscribe__button{
  border: 2px solid #fff;
  background: var(--first-color-light);
  font-size: var(--small-font-size);

}

.subscribe__buttom:hover{
  background-color: var(--first-color);
}

footer{
  padding: 8vw;
  background-color: #101c32;
  display: flex;
  justify-content: space-between;align-items: flex-start;
  flex-wrap: wrap;
}


footer .footer-col{
  padding-bottom: 40px;
}

footer .footer-col a{
  color: #fff;
  text-decoration: none;
}
footer h3{
  color: rgb(221, 226, 235);
  font-weight: 600;
  padding-bottom: 20px;
}

footer li{
  list-style: none;
  color: #757373;
  padding: 10px 0 ;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s ease;
}

footer li:hover{
  color: rgb(221, 226, 235);

}

footer p{
  color: #757373;

}

footer .subscribe{
  margin-top: 20px;
}

footer input{
  width: 180px;
  padding: 17px 15px;
  background: rgb(172, 177, 185);
  outline: none;
  color: #fff;
}

footer .subscribe a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 11px 15px;
  background-color: #fff;
  font-weight: 600;
  
}

footer .subscribe a.left-btn {
  color: rgb(21, 21,100);
  background: rgb(235, 252, 4);
  transition: 0.4s ease;
}

footer .subscribe a.left-btn:hover {
  color: rgb(21, 21, 100);
  background: #fff;
}

footer .copyright{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}


footer .copyright .profile-social-icon{
  margin: 0px;
}



footer .copyright .profile-social-icon i{
  color: rgb(255, 255, 255);
}
 


footer .copyright p{
  color: #fff;
}

/*=============== FOOTER ===============*/
/* .footer__container{
  row-gap: 2.5rem;
}
.footer__logo{
  color: var(--first-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  margin-bottom: .75rem;

}

.footer__logo{
  font-size: 1.25rem;
}

.footer__description, .footer__link{
  font-size: var(--small-font-size);
  font-weight:var(--font-medium);

}


.footer__content, .footer__links{
  display: grid;
}

/* .footer__content{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 4rem;
  padding-right: 40px; */


/* .footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links{
  row-gap: .5rem;
}

.footer__link{
  color: var(--text-color);
  transition: .3s;

}

.footer__link:hover{
  color: var(--title-color);
}

.footer__link{
  display: flex;
  column-gap: 1rem;
  font-size: 1,25rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover{
  color: var(--title-color);

} */ 



/* site active */

.active-link{
  background: #063a75;
  color: #fff;
  box-shadow: 8 4px #063a75;
}
/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar{
  width: 1rem;
  border-radius: 5rem;
  background-color: #717171;
}

::-webkit-scrollbar-thumb{
  background-color: #f2f2f2;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #f2f2f2;
  
}
/*=============== SCROLL UP ===============*/

.scrollup{
  position: fixed;
  right: 1rem;
  bottom: 20%;
  background-color: var(--container-color);
  box-shadow: 0 8px 12px rgb(21, 21, 77);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  color: var(--title-color);
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: .3s;

}

.scrollup:hover{
  transform: translateY(-.25rem);
  color: var(--first-color);
}
/* Show Scroll Up*/

.show-scroll{
  bottom: 8rem;
}

/* theme side */

.change-theme{
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: .3s;

}

.change-theme:hover{
  color: var(--first-color);
}
/*=============== BREAKPOINTS ===============*/
/*  media query for For small devices */

@media screen and (max-width: 350px) {
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section{
    padding: 3.5rem 0 1rem;

  }
  /* .home{
    padding-bottum: 0;


  } */

  .contact__card{
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }
}

@media  screen and (max-width: 320) {
  .nav__menu{
    padding: 1.3rem 1.5rem;

  }
  
  .home__value{
    column-gap: 1rem;
  }

  .home__img{
    width: 220;
    height: 280px;
  }

  .home__orbe{
    width: 240;
    height: 264px;
  }

  .logo__container{
    gap: 2rem 1rem ;
  }
}



/* For medium devices */

@media screen and (min-width: 576px){
  .nav__menu{
    width: 342px
  }

  .contact__card{
    grid-template-columns: repeat(2, 192px);
    justify-content: center;
  }
  .footer__content{
    grid-template-columns: repeat(3, max-content);

  }
}

@media screen and (min-width: 767px){
  .home__container{
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }
  .home__orbe{
    align-self: flex-end;
  }
  .home__data{
    padding-bottom: 2rem;
  }
  .logo__container{
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
  }

  .value__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .value__container, .contact__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

  }

  .subscribe__container{
    padding: 3rem 13rem;
  }

  .footer__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}
/* For large devices */

@media screen and (min-width: 1023px) {

  .section{
    padding: 7.5rem 0 1rem;
  }
  .section__title{
    font-size: 2.25;
  }

  .section__subtitle{
    font-size: var(--normal-font-size);
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu{
    width: initial;
    margin-left: auto;
  }

  .nav__list{
    display: flex;
    column-gap: 3rem;
  }

  .nav__link{
    color: var(--text-color-light);
  }

  .nav__link{
    color: var(--text-color-light);
  }

  .nav__link i{
    display: none;
    
  }

  .nav__button{
    display: inline-block;

  }

  .active-link{
    background: none;
    box-shadow: none;
    color: var(--first-color);
    font-weight: var(--font-medium);
  }


  .change-theme{
    margin: 0 3rem;
    color: var(--text-color-light);
  }

  .scroll-header .nav__link, .scroll-header .change-theme{
    color: var(--text-color);

  }

  .scroll-header .active-link{
    color: var(--first-color);
  }

  .home{
    padding: 0;
  }

  .home__container{
    padding-top: 5rem;
    column-gap: 2rem;

  }

  .home__data{
    padding-bottom: 4rem;

  }

  .home__title{
    margin-bottom: 2rem;

  }

  .home__description{
    margin-bottom: 3rem;

  }

  .home__orbe{
    width: 504px;
    height: 611px;

  }

  /* .footer__content{
    grid-template-columns: 4, max-content;
  }

  .footer__title{
    margin-bottom: 1.5rem;

  }

  .footer__links{
    row-gap: 1rem;
  }

  .footer__info{
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  } */

  .subscribe__description{
    font-size: var(--normal-font-size);
    padding: 0 8rem;
  }
}

@media screen and (min-width: 1040px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    column-gap: 4rem;
  }
}


/* For 2K & 4K resolutions */
@media screen and (min-width: 2048px){
  body{
    zoom: 1.5;
  }
}

@media screen and (min-width: 3048px){
  body{
    zoom: 2rem;
  }
}















